html {
  -webkit-backface-visibility: visible;
}

body {
  --main-text-color: #333;
  --menu-text-color: #333;
  --special-text-color: #5f6f72;
  --link-text-color: #248ea2;
  --link-text-hover-color: #f4b400;
  --footer-text-color: #ffffff;
  --main-background-color: #f2f2f2;
  --secondary-background-color: #dfe4e5;
  --block-background-color: #ffffff;
  --footer-background-color: #5f6f72;
  --border-color: #5f6f72;
  --line-border-color: #c2cacc;
  --header-anim: none;
  --cursor: auto;

  background: var(--main-background-color);
  margin: 0px;
  padding: 0px;
  -webkit-backface-visibility: visible;
  cursor: var(--cursor);
}

.content {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 400;
}

.site-title {
  text-align: center;
  font-size: 5em;
  margin: 20px;
}

a {
  color: var(--link-text-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-text-hover-color);
}

.main-menu {
  position: sticky;
  top: 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background: var(--secondary-background-color);
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-menu a {
  margin: 0px 18px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.5em;
  color: var(--menu-text-color);
}

.main-menu a:hover,
nav a:active {
  color: var(--link-text-color);
}

.page {
  max-width: 1140px;
  margin: auto;
  margin-top: 20px;
}

h1 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--line-border-color);
  text-transform: capitalize;
}
