<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="content">
    <p class="site-title">{{ site.title }}</p>
    {% include navigation.html %}
    <div class="page">
      {{ content }}
    </div>
  </div>
</body>

</html>